<h1>Login</h1>
<%=form_for :user do |f|%>
<div class="field">
	<%=f.label "email"%><br/>
	<%=f.text_field :email,:required=>true%>
</div>
<div class="field">
	<%=f.label "Password"%><br/>
	<%=f.password_field :password,:required=>true%>
</div>
<div id="action">
	<%=f.submit value="Login" %>
</div>
<%end%>
<script type="text/javascript">
  $('#new_user').validate({});

</script>